.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
*.code-workspace
.idea/

# SQLite Databases & Local Storage
*.db
*.sqlite
*.sqlite3
pslocks.db

# Log Files & Directories
*.log
logs/

# OTA Uploads
uploads/
