[Unit]
Description=SocketCAN can0 interface
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=ip link set can0 up type can bitrate 50000 restart-ms 100
ExecStartPost=ip link set can0 txqueuelen 1000
ExecStop=ip link set can0 down

[Install]
WantedBy=multi-user.target
