[Unit]
Description=SocketCAN can0 interface
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/sbin/ip link set can0 down
ExecStart=/sbin/ip link set can0 up type can bitrate 50000
ExecStartPost=/sbin/ip link set can0 txqueuelen 1000
ExecStop=/sbin/ip link set can0 down

[Install]
WantedBy=multi-user.target

