[Unit]
Description=PS Locks OIP Gateway Service
After=network.target can0.service
Wants=can0.service

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/PSLOCKS_OIP
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/admin/PSLOCKS_OIP/.venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000 --timeout-graceful-shutdown 1
Restart=always
RestartSec=3
TimeoutStopSec=3
KillMode=mixed

[Install]
WantedBy=multi-user.target

